*{
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.swiper-pagination span{
      background-color: #fff;
      padding: 10px;
      vertical-align: 10px;
}







/* .swiper-button-prev {
    padding:20px;
    background-color: red;  
} */

/* .swiper-pagination{
   height: 50px;
   display: none;
} */
/*  */
 
 


@media (max-width: 990px) {
    
    .swiper-pagination span{   
        padding: 7px;
  }
}

@media (max-width: 768px) {
    .swiper-pagination span{   
        padding: 5px;
        vertical-align: 0px;
  }
}

@media (max-width: 575px) {
    .swiper-pagination span{   
        padding: 5px;
        vertical-align: 0px;
  }
 
    }